:root {
    --primary: #79aaef;
    --secondary: #0c1174;
    --shadow: #4e5378;
    --text: #eff0f2;
}

* {
    box-sizing: border-box;
}

#title {
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%);    color: aliceblue;
    padding: 15px;
}

#input {
    width: 350px;
    border-radius: 5px;
    padding: 5px;
}

.search-btn {
    width: 350px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px;
}

hr{
    width: 350px;
}

.card {
    border: 3px solid var(--secondary);
    width: 600px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; Adjust the gap as needed */
    margin: 16px;
}

.card {
    padding: 2px;
    width: 1200px;
}

.all-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}