* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}
.header-background {
    background-color: rgb(33, 63, 130);
    border-radius: 5px;
    color: white;
}

.title {
    text-align: center;
    padding: 10px;
}

.box-title {
    padding-top: 10px;
    margin-top: 20px;
}

.search-box {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    text-align: 100px;
    border-color: rgb(131, 128, 124);;
}

input {
    border-radius: 10px;
    border-color:  rgb(131, 128, 124);;
    text-align: center;
}

.searchBtn {
    background-color:  rgb(33, 63, 130);
    margin-top: 10px;
    width: 350px;
    height: 40px;
    border-color: rgb(131, 128, 124);
    border-radius: 10px;
    color:white;
}

.searchBtn:hover {
background-color:  rgb(127, 146, 186);
}

.time {
    text-align: center;
}